
<h2>Paciente: @ViewBag.paciente.nombre</h2>
<hr />

<form action="/home/guardar_cita/1?id_paciente=@ViewBag.paciente.id_paciente" method="POST">
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Fecha</label>
            <input type="date" class="form-control" name="fecha">
        </div>
        <div class="form-group">
            <label for="">Hora Inicio</label>
            <input type="time" class="form-control" name="horainicio">
        </div>
        <div class="form-group">
            <label for="">Hora Fin</label>
            <input type="time" class="form-control" name="horafin">
        </div>
        <div class="form-group">
            <label for="">Motivo</label>
            <input type="text" class="form-control" name="motivo">
        </div>
        <div class="form-group">
            <label for="">Referencia</label>
            <input type="text" class="form-control" name="referencia">
        </div>
        <div class="form-group">
            <label for="">Doctor</label>
            <input type="text" class="form-control" name="iddoctor">
        </div>
        <button class="btn btn-primary">Guardar</button>
    </div>
</div>


</form>